
/*
  a bit garish to help me see what and where the different elements are
*/

body {
  background-color: #000;
}

svg {
  background: #080808;
}

h1, h2, text {
  color: grey;
}

circle.node {
  fill:   green;
  stroke: darkgreen;
} 

.link {
  stroke: orange;
  fill: none;
  stroke-width: 1;
  opacity: 0.5;
}

line.cline {
  stroke: darkred;
  stroke-width: 1;
}
